.content-hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.content-outback{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-outback{
    font-weight: 600;
    color: #FDA84B;
}

.btn-raffle{
    width: 160px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FDA84B;
    border: 1px solid #FDA84B;
    border-radius: 10px;
    color: #210000;
}


.btn-raffle:hover{
    background-color: transparent;
    border: 1px solid #FDA84B;
    color: #FDA84B;
    transition: 0.5s ease-in-out;
}