<section class="content-raffle">
    <div class="all-content-raffle">
        <div class="img-raffle">
            <img src="../../../assets/Rifa Jean & Sara - Outback.png" alt="Fome de Outback">
        </div>
        <div class="contain-raffle">
            <div class="text-raffle">
                <h2 class="title-raffle">O número vencedor é:</h2>
            </div>
            <div class="content-number-raffle">
                <h1 id="number-raffle">?</h1>
            </div>
            <div class="button-play-raffle">
                <button class="play-raffle">
    
                </button>
            </div>
        </div>
    </div>
</section>